* {
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    margin: 1em 0;
    color: green;
}

.btn {
    width: 100%;
    margin: 5px;
}

body {
    background-color: black !important;
    background-color: black;
}

h3 {
    color: orange;
}

.detail {
    color: rgb(0, 255, 0);
}

.fa-edit {
    color: yellow;
}

.fa-trash-alt {
    color: red;
}